@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;800&display=swap');
@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

@layer base {

    :root {
        --max-page-width: 86%;
        --max-navbar-width: 100rem;
        --max-section-width: 100rem;
        font-family: 'Neue Haas Grotesk Display Pro', system-ui, sans-serif;
        color-scheme: light dark;
        scroll-behavior: smooth;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
        background-color: rgb(var(--bg-color));
        color: rgb(var(--font-color));
        --bg-color: 240 240 240;
        --font-color: 20 20 20;
        --card-color: 234 234 234;
    }

    :root[class~="dark"] {
        --bg-color: 20 20 20;
        --font-color: 255 255 255;
        --card-color: 23 23 23;
    }
}



a {
    text-decoration: none;
}