@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}


:root {
    --max-page-width: 86%;
    --max-navbar-width: 100rem;
    --max-section-width: 100rem;
    font-family: 'Outfit', system-ui, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    color: var(--font-color);
    background-color: var(--bg-color);
    scroll-behavior: smooth;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: none;
}